@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: top;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;  
  min-width: 100%;
  min-height: 100vh;
  list-style: none;
  text-decoration: none;
  background: white;
  color: black;
  display: flex;
  justify-content: center;
  align-content: center;  
}